
h1{
    
    font-family: Raleway;
    font-size: 5.625rem;
    margin-bottom: 0px;
   
}

h3{
    font-family: Raleway; 
    
}



.H{
    text-align: center;
    font-family: Raleway;
    font-size: 5.625rem;
    margin-bottom: 0px;
   margin-top: 20%;
    color: black;
}


p{
    font-size: 150%;
    margin: 0px;
    font-family: Patrick Hand;
    
}

p1{
    font-size: 150%;
    margin: 0px;
    font-family: Patrick Hand;
    
}




.me{
    margin-bottom: 25%;
    margin-right: 5%;
    
}


.H2{
    margin-left: 10%;
}
.skillim{
    
    height: 100%;
    width: 100%;
}

.soft{
    margin-top: 20%;
}

.sill-row{
    margin-top: 29%;
}

#oneCon{
    padding-top: 7%;
}
.offcanvas-body{
    background-color: #fff;
}
section{
    width: 100%;
    height: 100%;
}

@media (max-width: 991.98px) { 
    #oneCon{
        padding-top: 4%;
    }
   .me{
    padding-left: 15%;
    padding-bottom: 0%;
   }
 }
