
h1{
    
    font-family: Raleway;
    font-size: 5.625rem;
    margin-bottom: 0px;
   
}

h3{
    font-family: Raleway; 
    font-size: 20%;
}



.H{
    
    font-family: Raleway;
    font-size: 5.625rem;
    margin-bottom: 0px;
   margin-top: 20%;
    color: black;
}


p{
    font-size: 150%;
    margin: 0px;
    font-family: Raleway;
    
}

p1{
    font-size: 150%;
    margin: 0px;
    font-family:   Raleway ;
    
}




.me{
    margin-bottom: 25%;
    margin-right: 5%;
    
}


.H2{
    margin-left: 10%;
}
.skillim{
    
    height: 100%;
    width: 100%;
}

.soft{
    margin-top: 20%;
}

.sill-row{
    margin-top: 29%;
}

